<h1>Create: Tasks</h1>

<form id="task-form" action="/api/tasks" method="POST">
  <label for="task">Task JSON: </label>
  <input id="task" type="text" name="task" />
    <textarea name="task" id="task" cols="10" rows="5"></textarea>
  <input type="submit" />
</form>
