<h1>Home: Tasks</h1>

<% tasks.forEach((task) => { %>
<li><%= task.id %> <%= task.name%> <%= task.completed%></li>
<% }); %>

<!-- <h1>Create: Task</h1> -->
<!-- <form id="task-form" action="/api/tasks" method="POST">
  <label for="task">Task JSON: </label>
<textarea name="task" id="task" cols="10" rows="5"></textarea>
  <input type="submit" />
</form> -->